<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/createReceipt.css">
    <title>Document</title>
</head>
<body>
    <div class="grid">
        <div class="left-side-bar">
            <div class="customer-name">
                <span>Tên khách hàng</span>
                <span><%= data.CustomerName %></span>
            </div>

            <div class="name_or_count">
                <% if (data.CustomerType === 0) { %>
                    <div class="student-name">
                        <span>Tên thí sinh</span>
                        <span><%= data.ExamineeName %></span>
                    </div>
                <% } else { %>
                    <div class="student-count">
                        <span>Số lượng thí sinh đăng ký</span>
                        <span><%= data.NumberOfExaminees %></span>
                    </div>
                <% } %>
            </div>

            
            <div class="phone-number_or_date-create">
                
                <% if (data.CustomerType === 0) { %>
                    <div class="phone-number">
                        <span>SĐT</span>
                        <span><%= data.ExamineePhone %></span>
                    </div>
                <% } else { %>
                    <div class="date-create">
                        <span>Ngày đăng ký</span>
                        <span><%= data.registerDate %></span>
                    </div>
                <% } %>
                
            </div>

            <div class="email_or_registerID">
                <% if (data.CustomerType === 0) { %>
                    <div class="email">
                        <span>Email</span>
                        <span><%= data.ExamineeEmail %></span>
                    </div>
                <% } else { %>
                    <div class="registerID">
                        <span>Mã phiếu đăng ký</span>
                        <span><%= data.RegistrationID %></span>
                    </div>
                <% } %>
                
            </div>

            <div class="address_or_exam-schedule">
                
                <% if (data.CustomerType === 0) { %>
                    <div class="address">
                        <span>Địa chỉ</span>
                        <span><%= data.ExamineeAddress %></span>
                    </div>
                <% } else { %>
                    <div class="exam-schedule">
                        <span>Lịch thi</span>
                        <span><%= data.examSchedule %></span>
                    </div>
                <% } %>
                
            </div>
        </div>

        <div class="right-side-bar">
            <div class="top-right-bar">
                <span id="RegistrationID">Mã Phiếu Đăng Ký: <%= data.RegistrationID %></span>
            </div>
            
            <div class="middle-right-bar">
                <div class="date-create">
                    <span>Ngày lập hóa đơn</span>
                    <!-- lấy ngày hiện tại -->
                    <span><%= new Date().toLocaleDateString('en-CA') %></span>
                </div>

                <div class="sub-total">
                    <span>Thành tiền</span>
                    <span class="sub-total-number"><%= data.subtotal %>đ</span>
                </div>

                <div class="discount">
                    <span>Phần trăm giảm giá</span>
                    <span><%= data.DiscountPercent %> %</span>
                </div>

                <div class="total">
                    <span>Số tiền cần trả</span>
                    <span id="Total"><%= data.total %>đ</span>
                </div>

                <div id="maphieugiahan" style="display: none;"><%= data.RescheduleFormID %></div>
                <div id="maphieuthanhtoan" style="display: none;"><%= data.PaymentSlipID %></div>
            </div>
            
            <button class="bottom-right-bar" id="confirmInvoice">
                Lập hóa đơn
            </button>
        </div>
    </div>
    <!-- <div id="staffOverlay" class="overlay">
        <div class="popup">
            <h3>Nhập mã nhân viên phụ trách</h3>
            <input type="text" id="staffCode" placeholder="Nhập mã nhân viên...">
            <div class="popup-buttons">
                <button id="confirmInvoice">Xác nhận</button>
                <button id="cancelInvoice">Hủy</button>
            </div>
        </div>
    </div>     -->
    
    <script src="/js/createReceipt.js"></script>
</body>
</html>