<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Thông tin đăng ký</title>
    <link rel="stylesheet" href="/styles/XemTTDangKy.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Thông tin đăng ký</h1>            
            <fieldset>
                <form method="GET" action="/viewRegistration/search">
                    <label for="search">TÌM KIẾM TÊN KHÁCH HÀNG:
                        <input type="text" id="search" name="name" placeholder="Tìm kiếm" value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
                        <button type="submit" class="search-button"><i class="fa fa-search fa-lg"></i></button>
                    </label>
                </form>
            </fieldset>
        </div>


        <% registrations.forEach(function(reg) { %>
        <div class="registration-card">
            <div class="card-header">
                <div class="card-title">
                    <strong><%= reg.id %></strong><br>
                    <%= reg.customerName %>
                </div>
                <div class="card-buttons">
                    <button id="button-<%= reg.id %>" onclick="toggleDetail('<%= reg.id %>')">CHI TIẾT</button>
                </div>
            </div>
            <div class="card-details" id="detail-<%= reg.id %>" style="display: none;">
                <div class="card-content">
                    <p>NGÀY ĐĂNG KÝ: <%= reg.date %></p>
                    <p>SỐ LƯỢNG ĐĂNG KÝ: <%= reg.quantity %></p>
                    <p>TRẠNG THÁI: <%= reg.status %></p>
                    <p>LOẠI KHÁCH HÀNG: <%= reg.customerType === 0 ? "Tự do" : "Đơn vị" %></p>
                    <p>LỊCH THI: <%= reg.scheduleID %></p>
                </div>
                <div class="card-actions">
                    <a href="">
                        <button id="extension-button-<%= reg.id %>" class="action-button">Gia hạn & cập nhật lịch thi</button>
                    </a>
                    <a href="">
                        <button id="remove-registration-button-<%= reg.id %>" class="action-button">Hủy đăng ký</button>
                    </a>
                    <a href="">
                        <button id="create-payment-slip-button-<%= reg.id %>" class="action-button">Tạo phiếu thanh toán</button>
                    </a>
                    <a href="/viewCandidates?registrationID=<%= reg.id%>">
                        <button id="create-ticket-button-<%= reg.id %>" class="action-button">Lập phiếu dự thi</button>
                    </a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    
    <script src="/js/XemTTDangKy.js"></script>
</body>
</html>